<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.scss">
    <link rel="stylesheet" href="css/media.scss">
    <link rel="stylesheet" href="css/adaptive.scss">
</head>

<body>

    <div class="body_2"></div>
    <div class="body_3"></div>
    <div class="hot_hrefs">
        <div class="halal_sale"><img class="zero" src="/public/halal.png" alt="">
            <h2>Халяльная расрочка</h2>
        </div>

        <a href="#">Электрика</a>
        <a href="#">Бытовая техника</a>
        <a href="#">Одежда</a>
        <a href="#">Обувь</a>
        <a href="#">Аксеасуары</a>
        <a href="#">Красота</a>
        <a id="none_12" href="#">Здоровье</a>
        <a id="none" href="#">Товары для дома</a>
        <div class="more">
            <a href="#">Ещё</a>
            <img class="arrow" src="/public/arrow to down.png" alt="">
        </div>
    </div>
    <script type="module" src="./index.js"></script>
</body>

</html>