<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.scss">
    <link rel="stylesheet" href="css/media.scss">
    <link rel="stylesheet" href="css/adaptive.scss">
</head>

<body>

    <div class="body_2">

        <!-- 
        <div class="contners">

            <div class="header_flex_cont">

                <div class="uzum_icon"><img src="/public/uzum_img.svg" alt=""> </div>

                <div class="cotalog_inp_flex_box">
                    <div class="catalog_cont">Каталог</div>

                    <div class="search_box">
                        <input class="search_inp" type="search" placeholder="Искать товары">
                        <div class="search_icons"> <img src="/public/search.svg" alt="">
                        </div>
                    </div>

                </div>


                <div class="enter_favorite_bascet_cont">

                    <div class="enter_box flex_class">
                        <img src="/public/user.svg" alt="">
                        <p>Войти</p>
                    </div>

                    <div class="favorite_box flex_class">
                        <img src="/public/favorite.svg" alt="">
                        <p>Избранное</p>
                        <div class="quantity_number"></div>
                    </div>

                    <div class="bascet_box flex_class">
                        <img src="/public/basket.svg" alt="">
                        <p>Корзина</p>
                        <div class="quantity_number"></div>
                    </div>

                </div>
            </div>



        </div> -->
    </div>

    <div class="body_3">
  <!--       <div class="conteners">

            <div class="header_flex_cont">

                <div class="burger_favorite_icon_flex_cont">

                    <div class="burger_and_uzum_icon_cont">
                        <img src="/public/burger_menu.svg" alt="">
                        <div class="uzum_img"></div>
                    </div>

                    <div class="enter_favorite_bascet_flex_cont">

                        <div class="enter_box flex_class">
                            <img src="/public/user.svg" alt="">
                        </div>

                        <div class="favorite_box flex_class">
                            <img src="/public/favorite.svg" alt="">
                            <div class="quantity_number"></div>
                        </div>

                        <div class="bascet_box flex_class">
                            <img src="/public/basket.svg" alt="">
                            <div class="quantity_number">2</div>
                        </div>

                    </div>
                </div>

                <input class="inp_search" type="search" placeholder="Искать товары">

            </div>

        </div> -->
    </div>


    </div>

    <script type="module" src="./index.js"></script>
</body>

</html>