* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.technic_contener{
    max-width: 1500px;
    padding: 30px 30px;

    .categories_block {
        margin-top: 20px;

        a {
            text-decoration: none;
            color: #c3c3c3;
            font-size: 13px;


        }

        :nth-child(3) {
            color: black;
        }


        .active {
            color: black;

        }

        :hover {
            color: black;
            transition: .4s ease;
        }
    }

}