* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.kitchen_contener {
    max-width: 1500px;
    padding: 30px 40px;

    .categories_block {
        margin-top: 20px;

        a {
            text-decoration: none;
            color: #c3c3c3;
            font-size: 13px;


        }

        :nth-child(3) {
            color: black;
        }


        .active {
            color: black;

        }

        :hover {
            color: black;
            transition: .4s ease;
        }
    }



    .spa_case {

        .saidbarg {
            h1 {
                font-size: 18px;
                font-weight: 500;
                color: #5a5959;
                margin: 20px 0 15px;
            }

            .titels {
                padding: 0 0 0 15px;
                margin-bottom: 25px;

                p {

                    color: #353535;
                    font-size: 15px;
                    margin-top: 3px;
                    font-weight: 400;
                }

                .all_catigories_title {
                    display: flex;
                    align-items: center;
                    margin-left: -10px;

                    img {
                        width: 10px;
                        margin-top: 5px;
                        fill: black;
                    }
                }
            }
        }

    }


}