* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.kitchen_contener {
    max-width: 1500px;
    padding: 30px 40px;

    .categories_block {
        margin-top: 20px;

        a {
            text-decoration: none;
            color: #c3c3c3;
            font-size: 13px;


        }

        :nth-child(3) {
            color: black;
        }


        .active {
            color: black;

        }

        :hover {
            color: black;
            transition: .4s ease;
        }
    }



    .spa_case {

        .saidbarg {
            max-width: 300px;
          //  background-color: rgb(230, 230, 230);

            h1 {
                font-size: 18px;
                font-weight: 500;
                color: #5a5959;
                margin: 20px 0 15px;
            }

            .titels {
                padding: 0 0 0 15px;
                margin-bottom: 25px;

                p {
                    cursor: pointer;
                    color: #353535;
                    font-size: 15px;
                    margin-top: 5px;
                    font-weight: 400;
                }

                .all_catigories_title {
                    display: flex;
                    align-items: center;
                    margin-left: -15px;
                    gap: 5px;

                    img {
                        width: 10px;
                        margin-top: 6px;
                        fill: black;
                    }
                }
            }

            .price_box {
                margin: 30px 0 0;

                h2 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #5a5959;
                }

                .clear_btn {
                    font-size: 13px;
                    color: gray;
                    transition: .5s ease;
                    display: none;
                    cursor: pointer;
                }

                .inputs_box {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .it {
                        width: 130px;
                        height: 40px;
                        border: 1px solid gainsboro;
                        border-radius: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 10px;
                        margin-top: 20px;

                        h1 {
                            font-size: 14px;
                        }
                    }
                }

            }

            .colors {
                h3 {
                    margin-top: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #5a5959;
                    margin: 30px 0 20px;
                }

                .elem {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin-top: 12px;

                    .item {
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;

                    }

                    .b {
                        background-color: black;
                        border: 1px solid wheat;

                    }

                    .or {
                        background-color: orange;
                        border: 1px solid wheat;
                    }

                    .bl {
                        background-color: skyblue;
                        border: 1px solid wheat;

                    }

                    .gr {
                        background-color: #64b260;
                        border: 1px solid wheat;

                    }

                    .r {
                        background-color: red;
                        border: 1px solid wheat;

                    }

                    .g {
                        background-color: gray;
                        border: 1px solid wheat;

                    }

                    .wh {
                        background-color: white;
                        border: 1px solid wheat;
                    }
                }
            }

            .clear_btns {
                text-align: center;
                padding: 30px;

                button {
                    height: 40px;
                    width: 100%;
                    border-radius: 10px;
                    background-color: white;
                    border: 1px solid rgb(172, 172, 172);
                    font-size: 15px;
                    font-weight: 500;
                    color: #1e2434;
                }
            }
        }

    }


}