<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.scss">
    <link rel="stylesheet" href="css/media.scss">
</head>

<body>

    <footer>

        <div class="about_us_contener">
            <h1>О нас</h1>
            <a href="#">Пункт выдачи</a><br>
            <a href="#">Вакансии</a>
        </div>

        <div class="for_users_contner">
            <h1>Пользователям</h1>
            <a href="#">Связаться с нами</a><br>
            <a href="#">Вопрос - ответ</a>
        </div>


        <div class="for_entrepreneurs_contner">
            <h1>Для предпринимателей</h1>
            <a href="#">Продовайте на Uzum</a><br>
            <a href="#">Вход для продовцов</a>
        </div>


        <div class="application_box">
            <div class="flex_width-1200px">
                <h1>Скачать приложение</h1>
                <div class="apllication_flex_box">
                    <div class="apple_item w">
                        <img src="/public/apple-logo_32.png" alt="">
                        <p>AppStore</p>
                    </div>
                    <div class="google_play_item w">
                        <img src="/public/google-play_32.png" alt="">
                        <p>Google Play</p>
                    </div>
                </div>
            </div>

            <div class="uzum_networks_cont ">
                <h1>Uzum в соцсетях</h1>
                <div class="networks">
                    <img src="/public/instagram.png" alt="">
                    <img src="/public/telegram.png" alt="">
                    <img src="/public/youtube.png" alt="">
                    <img src="/public/facebook.png" alt="">
                </div>
            </div>
        </div>


        <div class="down">
            <hr>
            <div class="down_flex">
                <div class="down_title">
                    <p>Соглашение о конфиденциальности</p>
                    <p>Пользовательское соглашение</p>
                </div>
                <div class="address">
                    <a class="a" href="#">«2023© ООО «UZUM MARKET». ИНН 309376127. Все права защищены»</a>
                </div>
            </div>
        </div>
    </footer>


    <div class="block">
        <div class="flex">
        <p>О нас</p>
        <img class="fof" src="/public/next.png" alt="">
    </div>
    <div class="defoult">
        jsnjcndn <br>
        kmkmvkf

    </div>

    </div>
    <hr>


    <script type="module" src="./index.js"></script>
</body>

</html>